@import "./mixins";
@import "./variable";


* {
    box-sizing: border-box;
}

:root {
    //Thay doi theme page
    // Theme1: #35CD8C; -- xanh
    // Theme2: #FE043C; -- do
    --theme: #FE043C;
}

%theme-color {
    color: var(--theme);
}

%heading-color {
    color: $heading-color;
}

%padding-header {
    padding: 0 8%;
}

%margin-section {
    margin: 5rem 0;
}

%h3 {
    padding-left: 2rem;
    margin: 0;
    font-size: 4rem;
    font-weight: 500;
    @extend %heading-color;
}

%h4 {
    font-size: 3rem;
    font-weight: 400;
    @extend %heading-color;
}

%h5 {
    font-size: 2rem;
    font-weight: 500;
    @extend %text;
}

%p {
    font-size: 14px;
    color: $p-color;
    line-height: 2rem;
}

%p-food-items {
    @extend %p;
    color: $text_color;
}

%border-left {
    border-left: 1.5rem solid var(--theme);
}

%text {
    color: $text_color;
}

body {
    margin: 0;
    font-family: $font-family;
    font-size: $font-size;
    background-color: $bg-color;
}

header {
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(to right, $bg-color 70%, var(--theme) 30%);

    a {
        text-decoration: none;
    }

    .navbar {
        @extend %padding-header;
        @include dp-flex;
        justify-content: space-between;

        .logo {
            @extend %theme-color;
            width: 20%;

            h1 {
                font-size: 4rem;
            }
        }

        .hidden {
            width: 80%;
            @include dp-flex;
            justify-content: space-between;

            .menu {
                &__items {
                    @extend %heading-color;
                    padding: 2.5rem;
                }
            }

            .user {
                @include dp-flex;

                &>a {
                    @extend %heading-color;

                    i {
                        font-size: 2.5rem;
                        padding: .8rem;
                        background-color: $text_color;
                        border-radius: 50%;
                    }
                }

                span {
                    padding-left: .5rem;
                    @extend %text;

                    i {
                        @extend %text;
                        padding-left: .5rem;
                    }
                }
            }
        }
    }

    .main-header {
        width: 60%;
        @extend %padding-header;
        padding-bottom: 8rem;

        h1 {
            height: 8rem;
            display: inline-block;
            margin: 0;
            font-size: 12rem;
            @extend %heading-color;
            opacity: 5%;
        }

        h2 {
            font-size: 4rem;
            @extend %heading-color;
            margin: 0 0 1rem;
        }

        form {
            position: relative;
            width: 70%;

            input {
                width: 100%;
                border: none;
                background-color: $text_color;
                padding: 2rem 1.5rem;

                &::placeholder {
                    font-size: 18px;
                    @extend %heading-color;
                }
            }

            button {
                @extend %text;
                font-size: 2.5rem;
                background-color: var(--theme);
                border: none;
                border-radius: 60px 0px 0px 0px;
                position: absolute;
                padding: .6rem 5rem;
                top: 50%;
                right: 1%;
                transform: translateY(-50%);
            }
        }
    }

    .location {
        font-size: 2.5rem;
        @extend %text;
        display: inline-block;
        background-color: var(--theme);
        border-radius: 0px 100px 100px 0px;
        padding: .5rem 2.5rem;
    }

    .image-header {
        display: none;
        position: absolute;
        top: 0;
    }
}

main {
    .food-items {
        @extend %margin-section;

        &__top {
            padding-bottom: 5rem;
            @include dp-flex();
            @extend %padding-header;

            h3 {
                @extend %border-left;
                @extend %h3;
                width: 60%
            }

            p {
                width: 40%;
                @extend %p;
            }
        }

        &__bottom {
            @include dp-grid(1fr 1fr .8fr, auto);

            img {
                width: 100%;
                height: 100%;
            }

            &--lists {
                position: relative;
                @extend %text;

                &>div {
                    width: 100%;
                    @extend %text;
                    padding: 0 2rem 4rem;
                    opacity: .7;
                    border-radius: 0px 0px 20px 20px;
                    background-color: var(--theme);
                    position: absolute;
                    bottom: 0;

                    h5 {
                        @extend %h5;
                        margin-bottom: 0;
                    }

                    p {
                        @extend %p-food-items;
                    }

                    .mark {
                        @include dp-flex;
                        @extend %text;
                        font-size: 14px;

                        i {
                            font-size: 1rem;
                            margin-right: .5rem;
                        }
                    }

                    .bookNow {
                        text-align: center;
                        position: absolute;
                        right: 0;
                        bottom: 2rem;
                        width: 30%;
                        border-radius: 100px 0px 0px 100px;
                        padding: .5rem 2rem;
                        background-color: $text_color;

                        p {
                            margin: 0;
                            color: var(--theme);
                        }
                    }
                }
            }

            &--see-more {
                color: var(--theme);

                i {
                    @extend %text;
                    font-size: 1rem;
                    padding: 1rem;
                    background-color: var(--theme);
                    border-radius: 100%;
                }
            }
        }
    }

    .booking {
        overflow: hidden;
        position: relative;
        @extend %margin-section;
        width: 100%;
        height: 90vh;
        background-color: $bg-section;
        @include dp-flex;

        &>img {
            position: absolute;

            &:nth-child(1) {
                z-index: 3;
            }

            &:nth-child(2) {
                right: 0;
            }
        }


        &__main {
            position: relative;
            z-index: 2;
            padding: 0 0 4rem 20%;
            width: 80%;
            background-color: $text_color;
            @include dp-flex;
            flex-direction: column;

            .vector {
                position: absolute;
                z-index: -1;

                &:nth-child(1) {
                    right: -4%;
                }

                &:nth-child(2) {
                    top: -18%;
                    right: -4%;
                }

                &:nth-child(3) {
                    bottom: -18%;
                    left: 34%;
                }
            }

            h3 {
                border-top: .8rem solid var(--theme);
                display: inline-block;
                font-size: 3rem;
                font-weight: 500;
                @extend %heading-color;
            }

            form {
                width: 50%;
                position: relative;
                margin-bottom: 3rem;

                input {
                    width: 100%;
                    padding: 2rem 2.5rem;
                    border: none;
                    box-shadow: 2px 2px 30px 2px $bg-color;

                    &::placeholder {
                        @extend %heading-color;
                        font-size: 16px;
                    }
                }

                button {
                    position: absolute;
                    right: .5rem;
                    font-size: 2.5rem;
                    font-weight: 600;
                    @include direction(middle);
                    background-color: var(--theme);
                    border: none;
                    @extend %text;
                    padding: .5rem 2rem;
                }
            }

            &--times {
                width: 50%;
                @include dp-flex(normal);
                justify-content: space-around;

                span {
                    @extend %heading-color;
                    font-size: 16px;
                }

                i {
                    color: var(--theme);
                }

                p {
                    @extend %heading-color;
                }
            }
        }
    }

    .services {
        @extend %margin-section;

        &__top {
            padding-bottom: 5rem;
            @include dp-flex();
            @extend %padding-header;

            h3 {
                @extend %border-left;
                @extend %h3;
                width: 45%
            }

            p {
                width: 55%;
                @extend %p;
            }
        }

        &__bottom {
            @extend %padding-header;
            background-image: url(../img/VectorBG.png);
            background-repeat: round;
            @include dp-grid(auto auto, 1fr 1fr);
            row-gap: 0;

            svg {
                fill: var(--theme);
                width: 50%;
                background-color: $bg-section;

                // &:nth-child(1) {
                //     padding: 2rem;
                //     height: 100%;
                // }

                // &:nth-child(2) {
                //     padding: 8rem 7rem;
                //     height: 100%;
                // }
            }

            &--items {
                width: 100%;
                height: 100%;
                @include dp-flex;
                justify-content: space-around;

                div {
                    width: 40%;

                    h5 {
                        margin: 0;
                        font-size: 2rem;
                        @extend %heading-color;
                    }

                    p {
                        @extend %p;
                    }
                }

                &:nth-child(1) {
                    height: 100%;

                    svg {
                        width: 40%;
                        height: 100%;
                        padding: 4rem;
                    }
                }

                &:nth-child(2) {
                    grid-area: 2/1/3/2;
                    flex-direction: row-reverse;

                    svg {
                        width: 40%;
                        height: 100%;
                        padding: 4rem;
                    }
                }

                &:nth-child(3) {
                    height: 100%;
                    grid-area: 1/2/3/3;
                    flex-direction: column;
                    justify-content: center;
                    background-color: $bg-section;

                    div {
                        width: 50%;
                        text-align: center;

                        p {
                            border-bottom: 2px solid var(--theme);
                        }
                    }
                }
            }
        }
    }

    .explore {
        @extend %margin-section;
        @extend %padding-header;

        &__top {
            text-align: center;

            h3 {
                @extend %h3;
            }

            p {
                @extend %p;
            }
        }

        &__bottom {
            @include dp-grid(1fr 1fr 1fr, 1fr 1fr);

            &--items {
                background-color: $text_color;
                box-shadow: 0px 4px 4px rgba(235, 241, 245, 0.5);
                border-radius: 25px;

                img {
                    width: 100%;
                }

                .intr {
                    padding: 1.5rem;
                    @include dp-flex(normal);
                    justify-content: space-between;

                    div {
                        width: 75%;

                        h5 {
                            margin: 0;
                            @extend %h5;
                            color: $heading-color;
                        }

                        p {
                            @extend %p;
                        }
                    }

                    span {
                        font-size: 2rem;
                        color: var(--theme);
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .download {
        @extend %margin-section;
        @extend %padding-header;
        @include dp-flex;
        justify-content: space-between;
        background-color: $bg-section;

        &__top {
            width: 50%;

            h3 {
                @extend %h3;
                border-left: 2rem solid var(--theme);
            }

            p {
                @extend %p;
            }
        }

        &__bottom {
            position: relative;
            width: 40%;

            img {
                &:nth-child(1) {
                    position: relative;
                    z-index: 10;
                }

                &:nth-child(2) {
                    position: absolute;
                    top: 24rem;
                    left: -215px;
                    z-index: 1;
                }

                &:nth-child(3) {
                    position: absolute;
                    top: 5rem;
                    left: -180px;
                    z-index: 0;
                }
            }
        }
    }
}

footer {
    position: relative;
    height: 80vh;
    width: 100%;
    @include dp-flex;
    flex-direction: column;
    justify-content: center;

    img {
        &:first-child {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 10;
        }

        &:nth-child(2) {
            @include direction(left);
        }
    }

    .footer-main {
        width: 30%;
        text-align: center;
        position: relative;
        z-index: 20;

        h4 {
            @extend %h4;
            margin: 0
        }

        p {
            @extend %p;
        }

        form {
            margin: 0 auto;
            width: 60%;
            position: relative;

            input {
                width: 100%;
                border: none;
                box-shadow: 2px 2px 30px 2px $bg-color;
                border-radius: 100px;
                padding: 1rem;
            }

            button {
                position: absolute;
            }
        }

        span {
            @extend %p;
        }
    }

    .footer-info {
        @include dp-flex;
    }
}